<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifast.sys.dao.PetitionLetterDao">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.ifast.sys.domain.PetitionLetterNewDo" id="BaseResultMap">
		<result property="id" column="id"/>
		<result property="sourcepetition" column="sourcepetition"/>
		<result property="petitiontime" column="petitiontime"/>
		<result property="lettertitle" column="lettertitle"/>
		<result property="content" column="content"/>
		<result property="receiptno" column="receiptno"/>
		<result property="deptno" column="deptno"/>
		<result property="deptname" column="deptname"/>
		<result property="receiver" column="receiver"/>
		<result property="status" column="status"/>
		<result property="receivetime" column="receivetime"/>
		<result property="processtime" column="processtime"/>
		<result property="actualreplytime" column="actualreplytime"/>
		<result property="remindertime" column="remindertime"/>
		<result property="isrecover" column="isrecover"/>
		<result property="recovertime" column="recovertime"/>
		<result property="remark" column="remark"/>
	</resultMap>




	<!--按条件查询信访信息表-->
    <select id="selectAllList" parameterType="java.lang.String" resultType="com.ifast.sys.domain.PetitionLetterDO">
		SELECT
		s.id AS id,
		t.NAME AS sourcePetition,
		DATE_FORMAT(petitiontime,'%Y-%m-%d') AS petitiontime,
		content,
		receiptno,
		GROUP_CONCAT(d.NAME) AS serviceDept,
		GROUP_CONCAT(a.depid) AS deptid,
		STATUS,
		DATE_FORMAT(receivetime,'%Y-%m-%d') AS receivetime,
		DATE_FORMAT(processtime,'%Y-%m-%d') AS processtime,
		DATE_FORMAT(actualreplytime,'%Y-%m-%d') AS actualreplytime,
		DATE_FORMAT(acceptancetime,'%Y-%m-%d') AS acceptancetime,
		isrecover,
		DATE_FORMAT(recovertime,'%Y-%m-%d') AS recovertime,
		remark
		FROM
		sys_petition_letter s
		LEFT JOIN ( SELECT VALUE, NAME FROM sys_dict WHERE type = 'source_ptittion' ) t ON s.sourcepetition = t.VALUE
		LEFT JOIN ( SELECT petitionid, depid FROM sys_association ) a ON s.id = a.petitionid
		LEFT JOIN ( SELECT id, NAME FROM sys_dept ) d ON a.depid = d.id
		<where>
			and s.delflag='0'
			<if test="name != null and name != ''" >
				and receiver like  concat('%',#{name},'%')
			</if>
			<if test="deptId != null and deptId != ''" >
				and
				d.id=#{deptId}
			</if>
		</where>
		GROUP BY s.id,t.name
    </select>
	<!--根据id关联查询信访信息表-->
	<select id="selectOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT
		s.id AS id,
		t.value AS source,
		t.NAME AS sourcepetition,
		petitiontime,
		content,
		receiptno,
		GROUP_CONCAT( d.NAME ) AS deptname,
		GROUP_CONCAT( a.depid ) AS deptno,
		STATUS,
		receivetime,
		processtime,
		actualreplytime,
		acceptancetime,
		isrecover,
		recovertime,
		remark
		FROM
		sys_petition_letter s
		LEFT JOIN ( SELECT VALUE, NAME FROM sys_dict WHERE type = 'source_ptittion' ) t ON s.sourcepetition = t.VALUE
		LEFT JOIN ( SELECT petitionid, depid FROM sys_association ) a ON s.id = a.petitionid
		LEFT JOIN ( SELECT id, NAME FROM sys_dept ) d ON a.depid = d.id
		WHERE
		s.id = #{id} AND s.delflag=0
		GROUP BY
		s.id,t.NAME
	</select>

	<!--查询规定回复时间信件信息	-->
	<select id="selectRemind" resultType="com.ifast.sys.domain.PetitionLetterNewDo">
SELECT
	a.id,
	a.`信访时间` AS petitiontime,
	a.`信访内容` AS content,
	a.`收文时间` AS receivetime,
	a.`规定回复时间` AS processtime,
	a.`实际回复时间` AS actualreplytime,
	a.`上传受理告知书时间` AS acceptancetime,
	a.`交办站室` AS deptname,
	c.`名称` as sourcepetition,
	a.`信访编号` as receiptno,
	GROUP_CONCAT( b.`部门邮箱` ) AS email

FROM
	`信访表` a
	LEFT JOIN `部门表` b ON FIND_IN_SET( b.`部门名称`, a.`交办站室` )
	left join `字典表` c on a.`信访来源`=c.`值`
WHERE
	a.`状态` = 13
	AND a.`规定回复时间` IS NOT NULL
	GROUP BY
		a.id
		LIMIT 0,4
	</select>
	
	<!--查询限期整改在当天还没改的负责人邮箱	-->
	<select id="selectTerm" resultType="com.ifast.sys.domain.InvestigationDo">
		select `mainproblem` AS problem,`email` as email from `trouble_investigation` where `isorno`=0 AND now()>=`rectificationdate`;
	</select>


	<!--查询未做提交提醒的邮件-->
	<select id="selectsubmit" resultType="com.ifast.sys.domain.PetitionLetterNewDo">
SELECT
	a.id,
	a.`信访时间` AS petitiontime,
	a.`信访内容` AS content,
	a.`收文时间` AS receivetime,
	a.`规定回复时间` AS processtime,
	a.`实际回复时间` AS actualreplytime,
	a.`上传受理告知书时间` AS acceptancetime,
	a.`交办站室` AS deptname,
	c.`名称` as sourcepetition,
	a.`信访编号` as receiptno,
	GROUP_CONCAT( b.`部门邮箱` ) AS email

FROM
	`信访表` a
	LEFT JOIN `部门表` b ON FIND_IN_SET( b.`部门名称`, a.`交办站室` )
	left join `字典表` c on a.`信访来源`=c.`值`
WHERE
	a.`状态` = 13
	and a.`提交是否提醒`=0
	AND a.`规定回复时间` IS NOT NULL
	and b.`部门邮箱` is not null
	GROUP BY
		a.id
		LIMIT 0,4
	</select>

	<!--更改提交提醒状态-->
	<update id="updateTxStatus" parameterType="java.lang.Integer">
		update `信访表` set `提交是否提醒`=1 where id= #{id}
	</update>


	<select id="selectOverDate" resultType="com.ifast.sys.domain.PetitionLetterNewDo">
		SELECT
		a.id,
		a.`信访时间` AS petitiontime,
		a.`信访内容` AS content,
		a.`收文时间` AS receivetime,
		a.`规定回复时间` AS processtime,
		a.`实际回复时间` AS actualreplytime,
		a.`上传受理告知书时间` AS acceptancetime,
		a.`交办站室` AS deptname,
		c.`名称` as sourcepetition,
		a.`信访编号` as receiptno,
		GROUP_CONCAT( b.`部门邮箱` ) AS email

		FROM
		`信访表` a
		LEFT JOIN `部门表` b ON FIND_IN_SET( b.`部门名称`, a.`交办站室` )
		left join `字典表` c on a.`信访来源`=c.`值`
		WHERE
		a.`状态` = 13
		AND a.`规定回复时间` IS NOT NULL
		and DATE_FORMAT(a.`规定回复时间`,'%Y-%m-%d')<![CDATA[<=]]>DATE_FORMAT(now(),'%Y-%m-%d')
		GROUP BY
		a.id
		LIMIT 0,4
	</select>
</mapper>